-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th <a id="title_header" href="movies?title_sort=true"> Movie Title </a>
      %th Rating
      %th <a id="release_date_header" href="movies?release_date_sort=true"> Release Date </a>
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
